.taskWrap {
    display: flex;
    justify-content: space-between;
}

.message {
    margin-left: 30px;
    padding-top: 5px;
}


.imgWrap img {
    width: 32px;
    cursor: pointer;
}

.imgWrap {
    background: inherit;
    box-sizing: border-box;
    max-height: 32px;
}

.imgWrap :hover {
    background: #f44336;
}


.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
    
}

